.profile-section {
    display: flex;
    /* justify-content: space-around; */
    /* border: 3px solid red; */
    width: 100%;
     background-color: #f8f8fa;
}

#profile-img {
    padding: 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    flex: 2;
    /*  */
    margin: 15px;
    background-color: white;
    border-radius: 4px;
    /*  */
}

#profile-img > img{
    border-radius: 50%;
    height: 120px;
    width: auto;
    /* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
    box-shadow:  5px 5px 10px #5a5a5a,-5px -5px 10px #ffffff;
}
.profile-details{
     flex: 3;
     /*  */
     margin: 15px;
     margin-left: 0;
     background-color: white;
     border-radius: 4px;
     /*  */     
}
#update-profile-form{
    padding: 20px 30px;
     
}