.reg-btn, .lgn-btn{
    margin: 0px auto;
    display: block;
    padding: 10px;
    width: 150px;
    border-radius: 30px;   
}

#login-form{
    width: 40%;
    margin: auto;
    padding: 20px 30px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;

}



 